h1 {
  color: green;
  font-size: 32px;
  background: pink;
  font-family: arial;
}
h2, h3, h4 {
  font-size: 28px;
  background: pink;
  font-family: arial;
}

p, ul, ol {
  font-size: 20px;
}
body {
  background: pink;
  font-family: arial;
}

h1 {
  color: green;
  font-size: 32px;
}

h2, h3, h4 {
  font-size: 28px;
}
body {
  background: pink;
  font-family: arial;
  text-align: center;
}

h4, ul, ol {
  text-align: left;
}
